.DS_Store
mine.txt
.venv/
__pycache__/

data/interim/.mplconfig/
data/raw/*
!data/raw/.gitkeep
data/processed/experiment1/bitstreams/
data/processed/experiment1/plots/
data/processed/experiment2/*/k_*/bitstreams/
data/processed/experiment2/*/k_*/plots/
